langchain
langchain-core
langchain-community

langchain-openai
langchain-google-genai
langchain-groq
langchain-mistralai

openai
google-generativeai
groq
mistralai

huggingface-hub
transformers
sentence-transformers

python-dotenv
pydantic
requests
httpx

tiktoken
faiss-cpu

fastapi
uvicorn[standard]

python-multipart
aiofiles
